* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 300px;
    margin: 0 auto;
}

img {
    height: auto;
    width: 500px;
}

.index-header {
    background: rgba(255, 57, 57, 0.7);
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
}